<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Supreme.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encoding.CodePages" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Supreme.Properties.Settings>
      <setting name="FullName" serializeAs="String">
        <value>NIKITA ATRASHKEVICH</value>
      </setting>
      <setting name="Email" serializeAs="String">
        <value>nkatrvld@gmail.com</value>
      </setting>
      <setting name="Tel" serializeAs="String">
        <value>+79267081190</value>
      </setting>
      <setting name="Address" serializeAs="String">
        <value>Pokrishkina 9 246</value>
      </setting>
      <setting name="Address2" serializeAs="String">
        <value />
      </setting>
      <setting name="Address3" serializeAs="String">
        <value />
      </setting>
      <setting name="City" serializeAs="String">
        <value>Moscow</value>
      </setting>
      <setting name="PostCode" serializeAs="String">
        <value>119602</value>
      </setting>
      <setting name="Country" serializeAs="String">
        <value>RUSSIA</value>
      </setting>
      <setting name="CardType" serializeAs="String">
        <value>VISA</value>
      </setting>
      <setting name="CardNumber" serializeAs="String">
        <value>4206380025368447</value>
      </setting>
      <setting name="CardExpityMonth" serializeAs="String">
        <value>04</value>
      </setting>
      <setting name="CardExpirtYear" serializeAs="String">
        <value>2024</value>
      </setting>
      <setting name="CardCVV" serializeAs="String">
        <value>132</value>
      </setting>
    </Supreme.Properties.Settings>
  </userSettings>
</configuration>